@model IPagedList<BuildingShopCore.Models.Client>
@using X.PagedList;
@using X.PagedList.Extensions;
@using X.Web.PagedList

<div class="table-responsive">
<table class="table" id="clientsTable">
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="my-custom-button">Номер</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="my-custom-button">ФИО</a>
            </th>
            <th>
                Номер телефона
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AddressSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="my-custom-button">Адрес</a>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.FIO
                </td>
                <td>
                    @item.Phone
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    <div class="dropup-center dropup">
                        <button class="my-custom-button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            >>>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a asp-action="Edit" asp-route-id="@item.Id" class="my-custom-link">Редактировать</a></li>
                            <li><a asp-action="Delete" asp-route-id="@item.Id" class="my-custom-link">Удалить</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </table>
</table>
</div>

<div class="d-print-none">
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewData["CurrentSort"], currentFilter = ViewData["CurrentFilter"] }))
</div>
