@model IPagedList<BuildingShopCore.Models.ProductCategory>
@using BuildingShopCore.Controllers;
@using X.PagedList;
@using X.PagedList.Extensions;
@using X.Web.PagedList

<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "Категории товаров";
}

<div class="loader"></div>

<h2>Категории товаров</h2>

<p>
    <a class="my-custom-link" asp-action="Create">Добавить категорию</a>
    <button class="my-custom-link" onclick="window.print();">Печать</button>
</p>

<form id="NewTableId" asp-action="CategoryPartialView" asp-controller="ProductCategory" method="post">
    <div class="form-group">
        <p>
            Поиск: <input type="text" class="form-control" value="@ViewData["CurrentFilter"]" id="searchInput" name="SearchString" oninput="performSearch()" />
        </p>
    </div>
</form>

 <div id="divCategories">
@*      @Html.PartialAsync("CategoryPartialView",Model)
     @Html.Raw(ViewData["Data"]) *@
 </div> 

 @section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            performSearch();
        });


        function performSearch() {
            var searchString = $('#searchInput').val();
            if (searchString.length > 0) {
                $.ajax({
                    url: '@Url.Action("CategoryPartialView", "ProductCategory")',
                    type: 'POST',
                    data: { searchString: searchString},
                    success: function (data) {
                        $('#divCategories').html(data);
                        $('.loader').fadeOut();
                    }
                });
            }
            else {
                $('#divCategories').load('@Url.Action("CategoryPartialView", "ProductCategory")');
            }
        }
    </script>
}
